/* :root {

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

*{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #f3f3f3;
}

.light-theme {
  background-color: #f3f3f3;
  color: black;
}
.dark-theme {
  background-color: #313037;
  color: white;
}
