//Teypography
@mixin h1-desc {
  font-size: 56px;
  font-weight: 700;
  line-height: 80px;
}

@mixin h2-desc {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

@mixin h3-desc {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

@mixin s1-desc {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

@mixin b1-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

@mixin b2-desc {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

//tablet

@mixin h1-tablet {
  font-size: 56px;
  font-weight: 700;
  line-height: 80px;
}

@mixin h2-tablet {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

@mixin h3-tablet {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

@mixin s1-tablet {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

@mixin b1-tablet {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

@mixin b2-tablet {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

//mobile

@mixin h1-mobile {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}

@mixin h2-mobile {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

@mixin h3-mobile {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

@mixin s1-mobile {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

@mixin b1-mobile {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@mixin b2-mobile {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
