//colors

//system
$_primary: #2231aa;
$_primary2: #5360cd;
$_secondary: #313037;

//backgrounds
$_grey: #8d8e97;
$_medium: #dadada;
$_extra-light: #f3f3f3;

//contxtual
$_error: #fd3419;
$_white: #ffffff;
$_light: #e8e8e8;

//vertical rythm

//desctop
$_level1-desctop: 72px;
$_level2-desctop: 64px;
$_level3-desctop: 48px;
$_level4-desctop: 40px;
$_level5-desctop: 32px;
$_level6-desctop: 24px;
$_level7-desctop: 16px;
$_level8-desctop: 8px;

//tablet
$_level1-tablet: 72px;
$_level2-tablet: 56px;
$_level3-tablet: 48px;
$_level4-tablet: 40px;
$_level5-tablet: 32px;
$_level6-tablet: 24px;
$_level7-tablet: 16px;
$_level8-tablet: 8px;

//mobile
$_level1-mobile: 56px;
$_level2-mobile: 48px;
$_level3-mobile: 36px;
$_level4-mobile: 32px;
$_level5-mobile: 28px;
$_level6-mobile: 24px;
$_level7-mobile: 16px;
$_level8-mobile: 8px;
