:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(47, 31, 87, 0.87);
  background-color: #f0eaea;
}

a {
  font-weight: 500;
  color: #eeeef7;
  text-decoration: inherit;
}
a:hover {
  color: #0a1261;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #589adc;
  }
  button {
    background-color: #f9f9f9;
  }
}
