.card {
  width: 75%;
}
.cardWrap {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  border: none;
  border-bottom: 1px solid #dadada;
}

.infoWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #8d8e97;
  width: 60%;
}

.date {
  margin-bottom: 8px;
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
}

.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  color: #313037;
}
.description {
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #8d8e97;
  }
}

.imgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 244px;
  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}
.postFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
