.cardSizeL {
  width: 75%;
  margin-bottom: 40px;
  .cardWrap {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    .infoWrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: #8d8e97;
      width: 60%;
      .date {
        margin-bottom: 8px;
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          color: #8d8e97;
          margin: 0;
        }
      }
      .title {
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        text-align: left;
        color: #313037;
        margin: 0;
      }
      .description {
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          color: #8d8e97;
        }
      }
    }
    .imgWrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 256px;
      height: 244px;
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
  }
  .postFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-bottom: 1px solid #dadada;
    padding-bottom: 40px;
    .btnWrap {
      display: flex;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }
  }

  .icon {
    width: 22px;
    height: 22px;
  }
}
.cardSizeM {
  width: 33%;
  margin-bottom: 40px;
  .cardWrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 28px;
    .imgWrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 244px;
      margin-bottom: 24px;
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
    .date {
      margin-bottom: 8px;
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #8d8e97;
        margin: 0;
      }
    }
    .title {
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      text-align: left;
      color: #313037;
      margin: 0;
    }
  }
  .postFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-bottom: 1px solid #dadada;
    padding-bottom: 40px;
    .btnWrap {
      display: flex;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }
  }
  .icon {
    width: 22px;
    height: 22px;
  }
}
.cardSizeS {
  width: 30%;
  margin-bottom: 40px;
  .cardWrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
    .infoWrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: #8d8e97;
      width: 60%;
      .date {
        margin-bottom: 8px;
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          color: #8d8e97;
          margin: 0;
        }
      }
      .title {
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        text-align: left;
        color: #313037;
        margin: 0;
      }
    }
    .imgWrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 96px;
      height: 96px;
      margin-bottom: 24px;
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
  }
  .postFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-bottom: 1px solid #dadada;
    padding-bottom: 40px;
    .btnWrap {
      display: flex;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }
  }

  .icon {
    width: 22px;
    height: 22px;
  }
}
